Repository SE-TINF22B2/G6-SimpleQ, pull requests merged in 2024-06, with the labels that each got.

#218 BE: add questions API
  backend/.eslintrc.js
  backend/.prettierrc
  backend/package.json
  backend/src/app.module.ts
  backend/src/database/blacklist/blacklist.service.ts
  backend/src/database/favorite/favorite.service.ts
  backend/src/database/tag/tag.service.ts
  backend/src/database/user-content/user-content.service.ts
  backend/src/database/user/user.service.ts
  backend/src/externalAPI/externalAPI.module.ts
  backend/src/externalAPI/externalAPI.service.spec.ts
  backend/src/externalAPI/externalAPI.service.ts
  backend/src/main.ts
  backend/src/middleware/auth/auth.middleware.ts
  backend/src/requests/development/development.controller.spec.ts
  backend/src/requests/development/development.controller.ts
  backend/src/requests/development/development.service.spec.ts
  backend/src/requests/development/development.service.ts
  backend/src/requests/exception-handling/NotModifiedException.ts
  backend/src/requests/exception-handling/http-exception.filter.ts
  backend/src/requests/favourites/favourites.controller.ts
  backend/src/requests/questions/dto/create-answer.dto.ts
  backend/src/requests/questions/dto/create-question.dto.ts
  backend/src/requests/questions/questions.controller.spec.ts
  backend/src/requests/questions/questions.controller.ts
  backend/src/requests/requests.module.ts
  backend/src/requests/special/special.controller.ts
  backend/src/requests/user-content-request/user-content-request.service.spec.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
Labels: backend

#215 BE: db-methods
  backend/prisma/schema.prisma
  backend/src/database/favorite/favorite.service.ts
  backend/src/database/mockedPrismaClient.ts
  backend/src/database/quest/quest.service.ts
  backend/src/database/user-content/user-content.service.ts
  backend/src/database/user-quest/user-quest.service.spec.ts
  backend/src/database/user-quest/user-quest.service.ts
  backend/src/database/user/user.service.spec.ts
  backend/src/database/user/user.service.ts
  backend/src/requests/development/development.controller.ts
  backend/src/requests/favourites/favourites.controller.ts
  backend/src/requests/questions/questions.controller.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
Labels: backend

#219 FE: ASAP - Merging Frontend/requirements into main
  backend/yarn.lock
  frontend/src/components/NoContent.tsx
  frontend/src/components/barchart/BarChart.tsx
  frontend/src/components/liveinput/LiveInput.scss
  frontend/src/components/liveinput/LiveInput.test.tsx
  frontend/src/components/liveinput/LiveInput.tsx
  frontend/src/components/search/Search.scss
  frontend/src/components/search/Search.tsx
  frontend/src/components/texteditor/TextEditor.scss
  frontend/src/components/texteditor/TextEditor.tsx
  frontend/src/illustrations/aircraft.svg
  frontend/src/locales/en/translation.json
  frontend/src/pages/dashboard/Dashboard.scss
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/dashboard/editor/Editor.tsx
  frontend/src/pages/dashboard/profile/Profile.tsx
  frontend/src/pages/dashboard/question/QuestionView.tsx
  frontend/src/pages/dashboard/quests/Quests.tsx
  frontend/src/pages/dashboard/trending/Trending.tsx
  frontend/src/pages/home/Home.tsx
Labels: frontend

#220 BE: added tags to the creation of questions
  backend/prisma/schema.prisma
  backend/src/database/user-content/user-content.service.spec.ts
  backend/src/database/user-content/user-content.service.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
Labels: backend

#229 Backend/missing db methods
  backend/src/database/user-content/user-content.service.ts
  backend/src/database/vote/vote.service.ts
  backend/src/requests/quests/quests.controller.spec.ts
Labels: backend

#230 BE: fixed searching in database
  backend/prisma/schema.prisma
Labels: backend

#261 BE: remove content of questions for metadata requests
  backend/src/database/mockData.ts
  backend/src/database/user-content/user-content-interfaces.ts
  backend/src/database/user-content/user-content.service.spec.ts
  backend/src/database/user-content/user-content.service.ts
  backend/src/requests/favourites/favourites.controller.ts
  backend/src/requests/questions/dto/user-content-interface.ts
  backend/src/requests/questions/questions.controller.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
  docs/openapi3.0.yml
Labels: backend

#264 BE: Add automatic username generation
  backend/package.json
  backend/src/auth/auth.service.ts
  backend/yarn.lock
Labels: backend

#265 BE: Add /vote definiton and implementation
  backend/src/requests/favourites/favourites.controller.ts
  backend/src/requests/questions/questions.controller.ts
  backend/src/requests/requests.module.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
  backend/src/requests/vote/dto/vote.dto.ts
  backend/src/requests/vote/vote-request.service.spec.ts
  backend/src/requests/vote/vote-request.service.ts
  backend/src/requests/vote/vote.controller.spec.ts
  backend/src/requests/vote/vote.controller.ts
  docs/openapi3.0.yml
Labels: backend

#262 BE: updated externalAPI
  backend/.env.example
  backend/src/externalAPI/exceptions/AIException.ts
  backend/src/externalAPI/externalAPI.service.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
Labels: backend

#277 BE: fixed bug in method updateUserVote
  backend/src/requests/vote/vote-request.service.ts
Labels: backend

#278 BE: fixed sorting in backend
  backend/src/database/user-content/user-content.service.ts
Labels: backend

#279 BE: fixed disable ai in getAnswers
  backend/src/database/user-content/user-content.service.ts
  backend/src/requests/user-content-request/user-content-request.service.ts
Labels: bug, backend
